/* Buttons CSS */
body {
    margin: 0px;
    padding: 0px;
}

#interface {
    padding-left: 33%;
    padding-top: .5%;
    padding-bottom: .7%;
    background-color: white;
    border-bottom: 1px solid;
}

hr {
    border: none;
}

button {
    border-style: solid;
    padding-left: 2px;
    padding-right: 2px;
    background: white;
    border: 1px solid black;
}

button p {
    color: black;
    padding-left: 3px;
    padding-right: 3px;
    font-size: .75vw;
}

button:hover {
    background: black;
    text-decoration: none;
    transition: color 0.2s;
}

button:hover p {
    color: white;
}

select {
    border-color: black;
    border-style: solid;
    padding: 14px;
    font-size: .75vw;
}

select:hover {
    background: black;
    text-decoration: none;
    transition: color 0.2s;
    color: white;
}

/* --------------- */

/* Table CSS */
#table {
    padding-left: 10px;
}

tr, td {
    border: 1px;
    border-style: solid;
}

td {
    height: 50px;
    width: 50px;
    background-color: white;
}

/* --------------- */